[Unit]
Description=Telegram Bot
After=network.target

[Service]
WorkingDirectory=/home/pi/Applications/spese_cisot_bot
ExecStart=/home/pi/Applications/spese_cisot_bot/run.sh
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
